.navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px var(--pd-page) 6px var(--pd-page);
    align-items: center;
    position: sticky;
    z-index: 99;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.94);
    top: 0;
}

.navBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    flex-wrap: wrap;
}

.navLogo {
    display: grid;
    place-content: center;
}

.navLogo img {
    width: 74px;
    object-fit: contain;
    cursor: pointer;
}

.navItemsDesktop {
    display: none;
}

.navCta {
    display: none;
}


.navItem {
    display: flex;
    align-items: center;
    gap: 4px;
    position: relative;
}

.navItem::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--color-primary);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease;
}

.navItem.active::after {
    width: 100%;
}

.navItem:hover::after {
    width: 100%;
}

.navItem p {
    font-size: var(--fs-p3);
}


.navItem img {
    width: 18px;
    object-fit: contain;
}

.navItemsMobile {
    display: none;
}

.navItemsMobile.active {

    

    flex-basis: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    padding: 20px;
    /* position: absolute; */
    /* top: 90%; */
    /* left: 40px;
    right: 40px; */
    z-index: 99;
}

.navMenuIconBtn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.navMenuIconBtn img {
    width: 34px;
    object-fit: contain;
}

@media (min-width: 768px) {

    .navbar {
        padding: 10px var(--pd-page) 6px var(--pd-page);
        align-items: center;
        position: sticky;
    }
    
    .navLogo img {
        width: 80px;
    }
    
    .navItemsDesktop {
        display: flex;
        gap: 20px;
    }
    
    .navCta {
        display: block;
        width: max-content;
    }
    
    
    .navItem {
        display: flex;
        align-items: center;
        gap: 6px;
        position: relative;
    }
    
    .navItem p {
        font-size: var(--fs-p4);
        font-weight: var(--font-weight-light);
    }
    
    
    .navItem img {
        width: 18px;
        object-fit: contain;
    }
    
    .navItemsMobile {
        display: none;
    }
    
    .navMenuIcon {
        display: none;
    }

}

@media (min-width: 1024px) {
    .navItemsDesktop {
        margin-left: 100px;
    }
}








